<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Padaria PãoFofin</title>
</head>
<body>
    <h1>Login</h1>
    {% if form.errors %}
        <p style="color:red">Usuário ou senha inválidos</p>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <label>Usuário</label>
        {{ form.username }}

        <label>Senha</label>
        {{ form.password }}

        <button type="submit">Entrar</button>
    </form>
</body>
</html>