{% extends "global/base.html" %}

{% block bodyContent %}
    <h2>Criar Nova Fornada</h2>

    <form action="{% url "criar_fornada" %}" method="post">
        {% csrf_token %}
        <label for="produto">Escolha o produto: </label>
        <select name="produto" id="produto" required>
            {% for produto in produtos %}
                <option value="{{ produto.id }}">{{ produto.nome }}</option>
            {% empty %}
                <option disabled>Nenhum produto registrado</option>
            {% endfor %}
        </select>

        <button type="submit">Criar Fornada</button>
    </form>
{% endblock bodyContent %}