<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Padarias Disponíveis</title>
</head>
<body>
    <h1>Boas-vindas</h1>
    <p>Para acessar o sistema, faça o <a href="{% url "login" %}">login</a> ou <a href="{% url "cadastro" %}">cadastre-se!</a></p>
    
    <h1>Padarias</h1>
    <ul>
        {% for padaria in padarias %}
            <li>
                <p><strong>{{ padaria.nome }}</strong></p>
                <p>{{ padaria.endereco }}</p>
            </li>
            {% empty %}
                <li>Nenhuma padaria registrada no momento.</li>
        {% endfor %}
    </ul>
</body>
</html>